
.icon-record:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */